body {
    background-image: url(assets/pokedex.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
    margin: 0;
    padding: 2vw;
}

input, button {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 0.85vw;
    background-color: lightgreen;
    border-radius: 5vw;
    border: solid black 0.125vw;
}

#pokemonName {
    width: 10vw;
    text-align: center;
}

.pokemon-info, #errorMessage {
    max-width: 30vw;
    margin-left: auto;
    margin-right: auto;
}
img {
    width: 15%;
    height: auto;
}

#errorMessage {
    color: red;
}

section {
    background-image: url(assets/backarticle.png);
    opacity: 95%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding: 5%;
    border-radius: 5vw;
    margin: 2.5%;
}

header {
    background-image: url(assets/backarticle.png);
    opacity: 95%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding: 1%;
    border-radius: 5vw;
    margin: 2.5%;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}


.pokemon-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px; 
}


.pokemon-card {
    background-color: transparent;
    border-radius: 2vw;
    padding: 2w;
    width: 9vw;
    text-align: center;
    margin-top: 2vw;
    border: none;
    color: light;
}

.pokemon-card:hover {
    background-color: lightskyblue;
}


.pokemon-image {
    width: 100px;
    height: auto;
}

p {
    font-size: 1vw;
}


@media screen and (orientation: portrait) {
    body {
            background-image: linear-gradient(red, white);   
        padding: 0;
    }
 
    input {
        width: 60vw;
        height: 7.5vw;
        font-size: 3vw;
    }

    button {
        width: 15vw;
        height: 7.5vw;
        font-size: 3vw;
    }


    
    .pokemon-info, #errorMessage {
        max-width: 30vw;
        margin-left: auto;
        margin-right: auto;
    }
    img {
        width: 45%;
        height: auto;
    }
    
    #errorMessage {
        color: red;
    }
    
    section {
        background-image: url(assets/backarticle.png);
        opacity: 95%;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        padding: 5%;
        border-radius: 5vw;
        margin: 0%;
    }
    
    header {
        background-image: url(assets/backarticle.png);
        opacity: 95%;
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
        padding: 1%;
        border-radius: 5vw;
        margin: 2.5%;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
    
    
    .pokemon-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px; 
    }
    
    
    .pokemon-card {
        background-color: transparent;
        border-radius: 2vw;
        padding: 2w;
        width: 9vw;
        text-align: center;
        margin-top: 2vw;
        border: none;
        color: light;
    }
    
    .pokemon-card:hover {
        background-color: lightskyblue;
    }
    
    
    .pokemon-image {
        width: 100px;
        height: auto;
    }
    
    p {
        font-size: 1vw;
    }
}
